@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.btn {
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 300;
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
.blue {
  background-color: #5c8fff;
}
.red {
  background-color: #e07d7d;
}

input[type="text"] {
  margin: 5px;
  border: none;
  color: #333;
  font-size: 18px;
  background: #f3f3f3;
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid #555;
}
